@tailwind base;
@tailwind components;
@tailwind utilities;

.vitamins{
height: 500px;
width: 100vw;
position: relative;
}
.vitamins::after{
   content: ""; 
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../public/vitamins.png'); 
    background-size: cover; /* Cover the entire pseudo-element with the background image */
    background-position: center; 
    opacity: 1; 
    z-index: -1; 
}


@media only screen and (max-width: 600px) {
    .companies {
        display: flex;
        flex-direction: column;
    }
    .companies img {
       width: 80px ;
    }
    .NewParent{
        height: 50%;
    }
 }